.newCourse {
  text-align: center;
  border: 2px solid rgb(85, 233, 109);
  border-radius: 5px;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 2%;
  margin-bottom: 2%;
  font-family: 'Times New Roman', Times, serif;
}
.newCourseH3 {
  display: inline-block;
  width: 170px;
  text-align: left;
  font-family: 'Times New Roman', Times, serif;
}
.newCourseButton {
  background-color: rgb(177, 196, 180);
  margin-bottom: 20px;
  width: 100px;
  height: 30px;
  border-radius: 7px;
  font-family: 'Times New Roman', Times, serif;
}
.newCourseButton:hover {
  background-color: rgb(186, 231, 186);
}
