.studentRegister {
  text-align: center;
  border: 2px solid rgb(85, 233, 109);
  border-radius: 5px;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 2%;
  margin-bottom: 2%;
  font-family: 'Times New Roman', Times, serif;
}
.studentH3 {
  display: inline-block;
  width: 170px;
  text-align: left;font-family: 'Times New Roman', Times, serif;

}
.registerButton {
  background-color: rgb(217, 243, 221);
  width: 100px;
  height: 30px;
  border-radius: 7px;
}
.registerButton:hover {
  background-color: rgb(186, 231, 186);
}
